/* this css file will only style the homepage of our site */


div.minor-section{
  border: 5px;
  padding: 10px;
  margin: 2px;
}

#content h1{
  font-family:'Franklin Gothic Medium';
}

div.minor-section h2{
  color:crimson;
  font-family: fantasy;
}

div.minor-section p{
  font-family:'Times New Roman', Times, serif;
  color:firebrick;
  width: 1000px;
}

#my-portrait {
  width: 200px;
  padding: 10px;
  background-color:honeydew;
}


#links ul{
  padding: 5px;
  background-color: honeydew;
  
}